.md-typeset h2 {
  border-bottom: 2px solid orange;
}

.md-typeset h3 {
  padding-left: 0.4em;
  background: #efefef;
  border-left: 3px solid #666666;
}

.md-typeset :is(.admonition, details):is(.example) {
  border-color: #9e9e9e;
}
.md-typeset :is(.example) > :is(.admonition-title, summary) {
  background-color: hsla(0,0%,62%,.1);
  border-color: #9e9e9e;
}
.md-typeset :is(.example) > :is(.admonition-title, summary)::before {
  background-color: #9e9e9e;
}